html,
body,
#root {
  height: 100%;
  width: 100%;
  overflow: hidden;
  /* background-color: black; */
}

body {
  font-family: system-ui;
  margin: 0;
}

*,
*:after,
*:before {
  box-sizing: border-box;
}

.canvas-container {
  display: block;
  width: 100vw;
  height: 200vh;
  touch-action: none;
  /* border: blue 10px double; */
}