@font-face {
  font-family: 'RetjehDemo-Rough';
  font-style: normal;
  font-weight: normal;
  src: local('RetjehDemo-Rough'), url('RetjehDemo-Rough.woff') format('woff');
}

html,
body,
#root {
  height: 100%;
  width: 100%;
  overflow: hidden;
  /* background-color: rgb(250, 243, 226); */
  background-image: url(/public/images/birddogpitbbq_logo.jpeg);
  background-position: center;
  background-repeat: repeat;
  background-size: cover;
  font-family: 'RetjehDemo-Rough';
  /* font-family: 'Retjeh-Demo-Rough'; */
}


body {
  font-family: system-ui;
  margin: 0;
}

*,
*:after,
*:before {
  box-sizing: border-box;
}

.canvas-container {
  display: block;
  width: 100vw;
  height: 125vh;
  /* height: 200vh; */
  /* touch-action: none; */
  /* border: blue 10px double; */
}


.cardDetails-list {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  background-color: white;
  /* background-color: rgb(250, 243, 226); */

  border: blue 10px double;
  padding-top: 50vh;
  padding: 10vh 10vw;
  margin: 10vh 10vw;
}

.cardDetails-container {
  border: 0 solid #e5e7eb;
  width: 14vw;
  height: 5vh;
  margin: 1rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  border-radius: .5rem;
  padding: 1.5rem;
  border: red 10px double;
}

.shadow {
  box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.1) 0px 1px 2px -1px;
}

.smallText{
  font-size: smaller;
  margin: 0;
  padding: 0;
}
.bigText{
  font-size: xx-large;
  margin: 0;
  padding: 0;
}

.nutriFacts-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  padding: 10px 35px;
  background-color: rgb(250, 243, 226);
  color: rgb(186, 81, 38);
  position: fixed;
  bottom: 0;
  z-index: 1000;
  box-shadow: 0 62.5px 125px -25px rgba(50, 50, 73, 0.5), 0 37.5px 75px -37.5px rgba(0, 0, 0, 0.6);
  border-radius: .25rem;
}

.table-container {
  /* border: red 10px double; */
  /* padding: 10vh 10vw; */
  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh; /* Ensure the container takes up the full height of the viewport */
  padding: 20px;
  margin: 10% auto;
  background-color: rgba(0, 0, 0, 0.5);
}


#leva__root {
  /* display: none; */
  /* background-color: rgb(250, 243, 226); */
  /* color: red; */

}

.leva-c-kWgxhW, 
.leva-c-kWgxhW-bCBHqk-fill-false, 
.leva-c-kWgxhW-eXrJvq-flat-false, 
.leva-c-kWgxhW-czBHep-hideTitleBar-false, 
.leva-c-dmsJDs, 
.leva-c-dmsJDs-lpvxwm-toggled-true, 
.leva-c-dmsJDs-hXSjjU-isRoot-true {
  border: 1px rgb(250, 243, 226) solid;
  background-color: rgb(250, 243, 226);  

}

.leva-c-knrmXZ {
  background-color: rgb(186, 81, 38);

}

/* sliders, inputs */
.leva-c-kXfPOu, 
.leva-c-PJLV, 
.leva-c-gUBGce,
.leva-c-hwSNBG,
.leva-c-bbMqub,
.leva-c-PJLV-gsjcND-hasRange-true, 
.leva-c-grzFYX {
  background-color: rgb(250, 243, 226);
  color: rgb(186, 81, 38);
}

/* button */
.leva-c-ihqPFh {
  background-color: rgb(250, 243, 226);
  color: rgb(186, 81, 38);
}
